{% extends "layout.html" %}

{% block mainContent %}
<div id="pagewrap">

	<header>
		<h1>About Our Team</h1>
	</header>
	&nbsp
	<section id="content">
		<h2><span id="fair-hare">Raul Monraz</span></h2>
		<img src="https://media.licdn.com/media/p/4/005/024/254/2189f8d.jpg">
		<p>Raul is an experienced programming ninja. </p>
	</section>
	&nbsp
	<section id="middle">
		<h2><span id="fair-hare">Fed Panfilov</span></h2>
		<img src="https://media.licdn.com/media/AAEAAQAAAAAAAAleAAAAJGFkNjk3N2JjLThhMjMtNDMxMS1hZjI3LTc1MmZiNzE1ZTcwYQ.jpg">
		<p>Fed is a dodgy Russian.</p>
	</section>
&nbsp
	<aside id="sidebar">
		<h2><span id="fair-hare">Stephen Kump</span></h2>
		<img src="https://media.licdn.com/media/AAEAAQAAAAAAAAaiAAAAJGYxN2NmZWVmLTQ2NDgtNGQ5OC1iZmUyLTMyMzIwOGU0NjM3NQ.jpg">
		<p>Stephen is a dirty redneck.</p>
		
	</aside>
	
</div>
{% endblock %}
