{% extends "layout.html" %}

{% block header %}
    <head>
        <title> ProjectReport </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> Team Autumn Frog </p>
    <p> Team Members </p>
    <ul>
        <li>Stephen Kump (stephen.kump@yale.edu) </li>
        <li>Fed Panfilov (fed.panfilov@yale.edu)</li>
        <li>Raul Monraz (raul.monraz@yale.edu)</li>
    </ul>
    
    <p>
        <span>MGT 656 - Class Project </span>
        <span>Software Development Project Sprint Report</span>
        <span>October 27, 2016</span>
    </p>
    
    <p>
        <span>Burn Down Chart</span>
        
        NO CHART CREATED AS OF YET
        
        <span>Sprint Completed Stories</span>
        
        <p>
            <span>This sprint, we completed 14 stories.</span>
        </p>
        
        <span>Product Backlog</span>
        
        <p>
            <span>The current backlog consists of 10 items, weighing in at an estimated 328 units of effort.</span>
        </p>
    </p>

    <p>
        <span>Accomplished:</span>
        <li>We got the site up and worked through user stories that were either prerequisites or generally had a high value to end user vs. effort.</li>
        <li>We created a product backlog based on the project description.</li>
        <li>We estimated the effort for each of the backlog items.</li>
        <span>Challenges:</span>
        <li>Since it was fall break, and two of us were out of town most of the week, coordination became significantly more difficult.</li>
        <li>We noticed that we needed a simpler, more direct way to communicate in general, which we fixed by creating a slack group.</li>
        <li>Due to our vastly different levels of tech know-how, effort estimation proved to be tricky. Ultimately, we decided that we would not choose different amounts of effort depending on who the task was assigned to, but rather are OK with someone's velocity per week being 20 and someone else's being 5, i.e. that effort estimation does not reflect actual time spent and that's OK.</li>
        <span>Roadblocks:</span>
        <li>None so far!</li>
    </p>
    
    <p>
        <span>The current backlog in order is:</span>
        <li>1</li>
    </p>
    
    <p>
        <span>Before the next report we hope to:</span>
        <li>Since we completed 74 units of work this sprint, we hope to keep up this pace for the upcoming week.</li>
    </p>
{% endblock %}
