{% extends "layout.html" %}

{% block header %}
    <head>
        <title> ProjectReport </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> TEAM MEMBERS </p>
    <ul>
        <li>Stephen Kump (stephen.kump@yale.edu) </li>
        <li>Fed Panfilov (fed.panfilov@yale.edu)</li>
        <li>Raul Monraz (raul.monraz@yale.edu)</li>
    </ul>
    
    <p>
        <span>MGT 656 - Class Project </span>
        <span>Software Development Project Sprint Report</span>
        <span>October 13, 2016</span>
    </p>
    
    <p>
        <span>Burn Down Chart</span>
        
        NO CHART CREATED AS OF YET
        
        <span>Sprint Completed Stories</span>
        
        NO STORIES OUTLINED AS OF YET
        
        <span>Product Backlog</span>
        
        NO PRODUCT BACKLOG AS OF YET
    </p>
        
    <p>
        <span>Notes:</span>
    </p>
    
    <p>
        <span>Team & Roles</span>
        <span>Product Owner—Fed Panfilov</span>
        <span>Scrum Master—Raul Monraz</span>
        <span>Development Team—Stephen Kump</span>
    </p>
    
    <p>
        <span>Our team will divide work and sprint-specific responsibilities during our division of user stories. Our roles are subject to change throughout the project if another arrangement will work better, or if one of the members would like to experience the workflow from a different perspective. We realise this may be disruptive and is unorthodox, but feel it is a good option to further our learning goals.</span>
        <span>Our Scrum Master will generally be expected to code as well, given the small size of our team.</span>
    </p>
    <p>
        <span>Meetings</span>
        <span>The team will begin to meet and commence work on the project 10/19. The team will employ Scrum as its methodology and conduct its first Sprint planning meeting on 10/19. The team will meet weekly at a fixed time for our sprint planning and review, and will meet additionally as needed on an ad-hoc basis.</span>
    </p>
    <p>
        <span>Tools</span>
        <span>Google Docs will be used for notetaking, sprint planning and reporting, and for any necessary (minimal) documentation.</span>
        <span>The team will be using:</span>
        <span>GitHub for its repository and version control</span>
        <span>Heroku for app deployment</span>
        <span>Cloud9 as our IDE.</span>
    </p>
    <p>
        <span>Estimated Timeline</span>
        <span>The current plan is to complete the project before 11/15, creating a buffer into its timeline before the class deadline of 11/24 in case of unforeseen obstacles or difficulties.</span>
    </p>
    <p>
        <span>Planned Office Hours Attendance</span>
        <span>Our team anticipates starting to attend office hours regularly during the week of 10/24.</span>
    </p>
{% endblock %}
