{% extends "layout.html" %}

{% block header %}
    <head>
        <title> Project Report </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> Team Autumn Frog </p>
    <p> Team Members </p>
    <ul>
        <li>Stephen Kump (stephen.kump@yale.edu) </li>
        <li>Fed Panfilov (fed.panfilov@yale.edu)</li>
        <li>Raul Monraz (raul.monraz@yale.edu)</li>
    </ul>
    
    <p>
        <span>MGT 656 - Class Project </span>
        <span>Software Development Project Sprint Report</span>
        <span>November 10, 2016</span>
    </p>
    
    <p>
        <span>Burn Down Chart</span>
        
        <span><img src="/BurndownSprint4.png" alt="Sprint 4 Burndown Chart"></span>
        
        <span>Burn Up Chart</span>
        
        <span><img src="/BurnupSprint4.png" alt="Sprint 4 Burnup Chart"></span>
        
        <span>Sprint Completed Stories</span>
        
        <p>
            <span>This sprint, we completed 7 stories.</span>
            <ul>
                <li>Have form validation redirect to event detail page</li>
                <li>Event Page: if Form submission NOT VALID I am taken back the form and the errors are shown on the form.</li>
                <li>Event Page: If form submission VALID: Redirect to detail page</li>
                <li>API: Retrieve Key Event Objects in JSON</li>
                <li>Search for Events using a GET request</li>
                <li>Make separate URL for each sprint report</li>
                <li>Create (and submit) Sprint Report 4</li>
            </ul>
        </p>
        
        <span>Product Backlog</span>
        
        <p>
            <span>The current backlog consists of 5 items, weighing in at an estimated 72 units of effort.</span>
            <ul>
                <li>Add RSVP functionality</li>
                <li>Every page has HTML5 header and footer elements.</li>
                <li>Fix About page (mocha errors)</li>
                <li>Create and submit Sprint Report 5</li>
                <li>Create and submit Final Sprint Report 6</li>
            </ul>
        </p>
    </p>

    <p>
        <span>Accomplished:</span>
        <ul>
            <li>We made a huge amount of progress on the coding side of things.</li>
            <li>We roughly tripled our velocity, making finishing on time very likely, even if we are thrown some light curveballs.</li>
            <li>We revised several of the tasks in terms of effort units.</li>
            <li>We got hands-on practice on how to restore an old git commit, grab an otherwise deleted file from there, and bring it back online.</li>
        </ul>
        
        <span>Challenges:</span>
        <ul>
            <li>Our scope crept up again, but only by 33 units this time.</li>
            <li>We had to make a mid-sprint adjustment to our sprint backlog because we were using the same URL for all reports and overwriting the old.</li>
            <li>We still feel that velocity can be a tricky concept because it can be demoralizing for someone to not manage a 20 unit task in a week while someone else does over 100.</li>
            <li>We have now added fixing some of our previously "Done" work to the backlog since it, in fact, does not pass the required tests.</li>
        </ul>
        
        <span>Roadblocks:</span>
        <ul>
            <li>None so far!</li>
        </ul>
    </p>
    
    <p>
        <span>Before the next report we hope to:</span>
        <ul>
            <li>Ideally wrap up with all the initially-defined stories by passing all of the testing.</li>
        </ul>
    </p>
{% endblock %}
