{% extends "layout.html" %}

{% block header %}
    <head>
        <title> Final Project Report </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> Team Autumn Frog </p>
    <p> Team Members </p>
    <ul>
        <li>Stephen Kump (stephen.kump@yale.edu)</li>
        <li>Fed Panfilov (fed.panfilov@yale.edu)</li>
        <li>Raul Monraz (raul.monraz@yale.edu)</li>
    </ul>
    
    <p>
        <span>MGT 656 - Class Project </span>
        <span>Software Development Project Sprint Report</span>
        <span>December 1, 2016</span>
    </p>
    
    <p>
        <span>Burn Down Chart</span>
        
        <span><img src="/BurndownSprint6.png" alt="Sprint 6 Burndown Chart"></span>
        
        <span>Burn Up Chart</span>
        
        <span><img src="/BurnupSprint6.png" alt="Sprint 6 Burnup Chart"></span>
        
        <span>Sprint Completed Stories</span>
        
        <p>
            <span>This sprint, we completed 1 story:</span>
            <ul>
                <li>Create and submit Final Sprint Report 6.</li>
                <li>Ate lots of turkey.</li>
            </ul>
        </p>
        
        <span>Product Backlog</span>
        
        <p>
            <span>The current backlog is empty!</span>
        </p>
    </p>

    <p>
        <span>Accomplished:</span>
        <ul>
            <li>We finished everything!</li>
            <li>We triple-checked that everything passes the mocha tests.</li>
        </ul>
        
        <span>Challenges:</span>
        <ul>
            <li>None!</li>
        </ul>
        
        <span>Roadblocks:</span>
        <ul>
            <li>None!</li>
        </ul>
        
        <span>Overall thoughts and feelings:</span>
        <ul>
            <li>We are really glad that we managed to get everything to work.</li>
            <li>We found that effort estimation was a very tricky beast. Definitely something that requires practice.</li>
            <li>We felt that it is likely in all projects for the workload to creep up. As such, at the outset, once a velocity is established it is probably prudent to aim to finish early to build a bit of a buffer.</li>
            <li>We thought that having a mix of technical and non-technical people on our team was fantastic and more closely simulated real life.</li>
        </ul>
    </p>

{% endblock %}