{% extends "layout.html" %}

{% block header %}
    <head>
        <title> Project Report </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> Team Autumn Frog </p>
    <p> Team Members </p>
    <ul>
        <li>Stephen Kump (stephen.kump@yale.edu) </li>
        <li>Fed Panfilov (fed.panfilov@yale.edu)</li>
        <li>Raul Monraz (raul.monraz@yale.edu)</li>
    </ul>
    
    <p>
        <span>MGT 656 - Class Project </span>
        <span>Software Development Project Sprint Report</span>
        <span>November 3, 2016</span>
    </p>
    
    <p>
        <span>Burn Down Chart</span>
        
        <span><img src="/BurndownSprint3.png" alt="Sprint 3 Burndown Chart"></span>
        
        <span>Burn Up Chart</span>
        
        <span><img src="/BurnupSprint3f.png" alt="Sprint 3 Burnup Chart"></span>
        
        <span>Sprint Completed Stories</span>
        
        <p>
            <span>This sprint, we completed 4 stories.</span>
            <ul>
                <li>Event page: Input button for form</li>
                <li>Add event detail pages</li>
                <li>Event page: Validate Form Submissions</li>
                <li>Create (and submit) Sprint Report 3</li>
            </ul>
        </p>
        
        <span>Product Backlog</span>
        
        <p>
            <span>The current backlog consists of 10 items, weighing in at an estimated 292 units of effort.</span>
            <ul>
                <li>Add RSVP functionality</li>
                <li>Have form validation redirect to event detail page</li>
                <li>Event Page: if Form submission NOT VALID I am taken back the form and the errors are shown on the form.</li>
                <li>Event Page: If form submission VALID: Redirect to detail page</li>
                <li>API: Retrieve Key Event Objects in JSON</li>
                <li>Search for Events using a GET request</li>
                <li>Every page has HTML5 header and footer elements.</li>
                <li>Create and submit Sprint Report 4</li>
                <li>Create and submit Sprint Report 5</li>
                <li>Create and submit Final Sprint Report 6</li>
            </ul>
        </p>
    </p>

    <p>
        <span>Accomplished:</span>
        <ul>
            <li>We made progress on some of the "meatier" stories.</li>
            <li>We worked on our communication because the previous approach (Slack) was not working.</li>
            <li>We revised our backlog by both adding an item that was missed and sanity-checking our effort estimates.</li>
            <li>We discussed that our approach to testing was not articulated and that we need to make sure everything passes the mocha test prior to marking it done.</li>
        </ul>
        
        <span>Challenges:</span>
        <ul>
            <li>Our scope crept up by 52 units. We are concerned that this may keep happening, and as a result we may need to go even faster than we thought to be in good shape by the end.</li>
            <li>On a psychological note, although we increased our velocity from 74 to 88, which we thought we'd feel good about, the scope creep was a buzzkill.</li>
            <li>Waffle turned out to be a bit of a pain because it does not show any stories from more than 7 days ago. We are currently using excel as the primary tracker as a result.</li>
            <li>Our current trajectory implies we will not finish in time, with an even bigger gap than last time.</li>
            <li>It was discovered very late in this Sprint and just prior to this report being done that some of our "Done" tasks were actually not passing the mocha tests.</li>
        </ul>
        
        <span>Roadblocks:</span>
        <ul>
            <li>None so far!</li>
        </ul>
    </p>
    
    <p>
        <span>Before the next report we hope to:</span>
        <ul>
            <li>Increase our velocity even further.</li>
            <li>Figure out how much of a buffer we need to build in to actually have finished the task by the end.</li>
            <li>Review all of the Done tasks to make sure they are passing their respective mocha tests.</li>
        </ul>
    </p>
{% endblock %}
