{% extends "layout.html" %}

{% block header %}
    <head>
        <title> Project Report </title>
    </head>
{% endblock %}

{% block mainContent %}
    <p> Choose the report you want to see</p>

    <ul>
        <li><a href='/report/1'>Report #1</a></li>
        <li><a href='/report/2'>Report #2</a></li>
        <li><a href='/report/3'>Report #3</a></li>
        <li><a href='/report/4'>Report #4</a></li>
        <li><a href='/report/5'>Report #5</a></li>
        <li><a href='/report/6'>Report #6</a></li>
        
    </ul>
    
   
{% endblock %}
